#addPlayList{
	-fx-cursor:hand;
}


#addPlayList:hover{
	-fx-opacity:0.9;
}

#ComboList{
	
}

/* styles.css */
.combo-box {
	-fx-font:15px "Ebrima";
    -fx-border-color: #ffffff;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}

.combo-box:hover {
	-fx-background-color: #ffffff;
	-fx-opacity: 0.8;
}

.combo-box .list-cell {
    -fx-background-color: #1D2129;
    -fx-text-fill: #ffffff;
}

.combo-box .arrow {
    -fx-background-color: #2880E8;
}

.combo-box .arrow-button .arrow {
    -fx-background-color: #000000;
}

.combo-box .arrow-button .arrow:hover {
    -fx-background-color: #2880E8;
    -fx-opacity: 0.8;
}

.combo-box .arrow-button {
    -fx-background-color: #2880E8;
    -fx-border-radius: 0 5 5 0;
}

.combo-box .arrow-button:pressed {
    -fx-background-color: #2880E8;
}

.combo-box .list-cell:filled:selected, .combo-box .list-cell:filled:hover {
    -fx-background-color: #1D2129;
    -fx-opacity: 0.8;
}

.combo-box-popup {
    -fx-background-color: #2880E8;
    -fx-border-color: #d3d3d3;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}

#addPlayList {
    -fx-background-color: #2880E8;
    -fx-text-fill: #ffffff;
}

#ComboList {
    -fx-background-color: #1D2129;
    -fx-text-fill: #ffffff;
}

.anchor-pane {
    -fx-background-color: #1D2129;
}

.tab, .column {
  -fx-background-color: #1D2129;
  -fx-text-fill: #F3F3F3;
}


.scroll-pane .viewport {
  -fx-background-color: transparent;
}

#rootPane:hover{
  -fx-cursor: hand;
}

