#musicLibraryContainer {
  -fx-background-color: #1D2129;
  -fx-background-radius: 10;
}

.tab, .column {
  -fx-background-color: #1D2129;
  -fx-text-fill: #F3F3F3;
}

.playAllButton {
  -fx-background-color: #2880E8;
  -fx-background-radius: 5;
}

.shuffleAndPlayButton, .filterChoiceBox {
  -fx-background-color: #1D2129;
  -fx-border-color: #2880E8;
  -fx-border-radius: 5;
}

.addFolderButton {
  -fx-background-color: #1D2129;
}

.table-view .table-cell {
    -fx-font-size: 18px;
}