.playAllButton {
  -fx-background-color: #2880E8;
  -fx-background-radius: 5;
}

.playSelectedButton, .shuffleButton, .filterChoiceBox {
  -fx-background-color: #1D2129;
  -fx-border-color: #2880E8;
  -fx-border-radius: 5;
}

.filterChoiceBox {
  -fx-background-color: transparent;
}

.addFolderButton {
  -fx-background-color: transparent;
}

.deleteButton {
  -fx-background-color: #e24545;
  -fx-background-radius: 5;
}

.addFolderButton, .playAllButton, .playSelectedButton, .shuffleButton, .filterChoiceBox, .deleteButton, .tab {
  -fx-cursor: hand;
}