#imageSongContainer:hover {
	-fx-background-color: #4d4a4a;
	-fx-background-radius: 10;
	-fx-cursor:hand;
}

.sidebar-item:hover,
.active {
	-fx-border-width: 0 0 0 5;
	-fx-border-color: white;
	
}

.button:hover {
	-fx-opacity:0.5;
	-fx-cursor:hand;
}

