.openFileBtnStyle {
    -fx-background-color: #2880E8;
    -fx-cursor: hand;
    -fx-background-radius: 10;
}

.openFileBtnStyle:hover {
    -fx-background-color: #4e90e0;
}

.openFileBtnStyle:pressed {
    -fx-background-color: #3a6ead;
}

.tab, .column {
  -fx-background-color: #1D2129;
  -fx-text-fill: #F3F3F3;
}


.scroll-pane .viewport {
  -fx-background-color: transparent;
}